<div>
  <h1>Timers</h1>
  <app-timer [init]="3" (onComplete)="logCountDownEnd()"></app-timer>
  <app-timer [init]="65" (onComplete)="logCountDownEnd()"></app-timer>
  <app-timer [init]="185" (onComplete)="logCountDownEnd()"></app-timer>

  <button class="add" (click)="showAddTimer()">+</button>

  <app-alert-view [hidden]="!isAddTimerVisible">
    
    <h3> Add Timer </h3>

    <label>Set the number of seconds of your timer</label>
    <input type="number" [(ngModel)]="time">

    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button>Ok</button>
  </app-alert-view>
</div>