<div>
  
  <app-tabs>
    <app-tab [title]="'Timers'">
      <app-timer *ngFor="let timer of timers" [init]="timer" (onComplete)="showEndTimerAlert()"></app-timer>
      <button class="add" (click)="showAddTimer()">+</button>
    </app-tab>
    <app-tab [title]="'Alarm'">
      <h3>Alarm - Not Available</h3>
    </app-tab>
    <app-tab [title]="'Stop Watch'">
      <h3>Stop Watch - Not Available</h3>
    </app-tab>
  </app-tabs>

  

  <app-alert-view [hidden]="!isAddTimerVisible">
    <h3> Add Timer </h3>
    <label>Set the number of seconds of your timer</label>
    <input type="number" [(ngModel)]="time" #timerInput>
    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button (click)="submitAddTimer()">Ok</button>
  </app-alert-view>

  <ng-template #timeEndTemplate let-message let-title="title">
    <app-simple-alert-view 
      [title]="title"
      [message]="message">
    </app-simple-alert-view>
  </ng-template>

  <ng-container 
    [ngTemplateOutlet]="timeEndTemplate"
    [ngTemplateOutletContext]="{title: 'Game Over', $implicit:'Timer Ended!'}">
  </ng-container>
  <ng-container [ngTemplateOutlet]="timeEndTemplate"></ng-container>
  <ng-container [ngTemplateOutlet]="timeEndTemplate"></ng-container>
  <ng-container [ngTemplateOutlet]="timeEndTemplate"></ng-container>

</div>